# Configurações do Servidor HTTP
PORT=8080

# Configurações de Conexão com o MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

# Autenticação e Segurança
JWT_SECRET=
JWT_EXPIRES_IN_HOURS=